.container{
    max-width:$max-width;
    height:$max-height;
    width: 100%;
    margin: 20px auto;
    position: relative;
    
}

.gallery{
    height:100%;
}

.gallery img{
    width: 100%;
    height: $max-height;
    position: absolute; 	
}

#boton_1 {
    float: left;
    position: relative; bottom: 10px;
}
#boton_2 {
    float: left;
    position: relative; bottom: 10px;
}



    